#main-div {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.start-bot-card {
    text-align: center;
    width: 70%;
    margin-top: 20px;
}

.statut-bot-card {
    width: 80%;
    padding: 10px;
    text-align: center;
}

.statut-bot-card > mat-card-header {
    margin-bottom: 10px;
}

.statut-connection-card {
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #d3d3d336;
}

.start-bot-card > mat-card-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.start-bot-card > mat-card-content > form {
    width: 100%;
}

.mat-form-field {
    width: 80%;
}

#start-button {
    width: 80%;
    height: 50px;
    font-size: 30px;
    margin-top: 20px;
}

.mat-card-header {
    justify-content: center;
    font-size: 20px;
}

.mat-card {
    margin: 20px 30px 20px 30px;
}

.connected-icon {
    color: limegreen;
}

.not-connected-icon {
    color: red;
}

.statut-div {
    display: flex;
}

.statut-div > *{
    margin: 0 10px 0 10px;
}

#disconnect-button {
    width: 80%;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
}

.statut-url-div > span {
    text-align: start;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
}

.statut-title-div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statut-title-div > span {
    margin-top: 10px;
    font-size: xx-large;
    text-transform: uppercase;
}

.bot-speak-card {
    margin: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #d3d3d336;
}

.bot-speak-textarea {
    width: 100%;
}

.bot-speak-buttons-div {
    display: flex;
    flex-direction: column;
}

.bot-speak-button {
    width: 100%;
    margin-bottom: 10px;
}

.bot-speak-formfield {
    width: 100%;
    margin-right: 20px;
}

.bot-screenshot-card {
    margin: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    background-color: #d3d3d336;
}

.bot-screenshot-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bot-screenshot-img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}