
<div id="main-div">
    <mat-card class="start-bot-card">
        <mat-card-header>
          <mat-card-title>Lancer un nouveau BOT</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form>
                <mat-form-field>
                  <mat-label>Nom du BOT</mat-label>
                  <input matInput placeholder="Joe">
                </mat-form-field>
            </form>

            <form>
              <mat-form-field>
                <mat-label>URL de la classe</mat-label>
                <input matInput placeholder="https://eu.bbcollab.com/guest/...">
              </mat-form-field>
            </form>
        </mat-card-content>
    
    </mat-card>
</div>
