.main-sidenav {
    width: fit-content;
}

.main-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-button {
    font-size: 25px;
}

#error-socket-div {
    width: 100%;
    height: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}