#drawings-grid-list {
    width: 100%;
    height: 100%;
}

#drawings-grid-div {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.mat-grid-tile {
    margin: 10px;
}

.drawing-card-button {
    width: 100%;
    height: 100%;
}

.drawing-card-spann {
    font-size: xxx-large;
    text-transform: uppercase;
}