<div id="drawings-grid-div">
    <mat-grid-list id="drawings-grid-list" [cols]="cols" rowHeight="3:1">
        <mat-grid-tile *ngFor="let drawing of drawings">

            <button mat-raised-button color="accent" class="drawing-card-button" (click)="draw(drawing.name)">
                <span class="drawing-card-spann">
                    {{drawing.name}}
                </span>
                <img mat-card-image class="drawing-svg" [src]="getUrl(drawing.name)" alt="Screenshot of the bot">  
            </button>


        </mat-grid-tile>
    </mat-grid-list>
</div>
